{% extends 'base.njk' %}

{% block page_title %}{{ character.name }}{% endblock page_title %}

{% block content %}
    <h1>{{ character.name }}</h1>
    <h3>{{ characterBreedData.name }}</h3>
    <p>{{ characterBreedData.temperament }}</p>
    <div class="row">
        {% for image in characterImages %}
            {% if loop.index0 % 4 == 0 %}
                {% if not loop.first %}</div>{% endif %}
                <div class="column">
            {% endif %}
            <img src="{{ image.url }}" alt="Cat Image">
        {% endfor %}
        </div>
    </div>
        

    
{% endblock content %}