{% extends 'base.njk' %}

{% block content %}
    <h4>{{ errorMessage }}</h4>
    <div class="card">
        <button id="return" type="button"><a href="/">Take me home!</a></button>
    </div>
{% endblock content %}
