{% extends "base.njk" %}

{% block title %}Whimsical Whiskers{% endblock title %}
{% block body %}
    {% block content %}
    <h1>Warrior Cats</h1>
    <ul>
        {% for character in characters %}
            <li><a href="{{ character.link }}">{{ character.name }}</a></li>
        {% endfor %}
    </ul>
    {% endblock content %}
{% endblock body %}