{% extends 'base.njk' %}

{% block page_title %}Whimsical Whiskers{% endblock page_title %}

{% block content %}
<h1 class="center">Whimsical Whiskers</h1>
<h3 class="center accent mint">Warrior Cat Characters</h3>
<h5 class="center">Select a character to view breed data and images</h5>
<ul>
    {% for character in characters %}
        <li><a href="{{ character.link }}">{{ character.name }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}
